extends layout 

block content
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    .w3-card-4
     header.w3-container.w3-blue
        h3 Aviso 
          i(class="w3-xxlarge material-icons" style="vertical-align:-24%") warning
    .w3-container
     br
     if msg=="sucess"
       p.w3-container.w3-green O registo foi efetuado com sucesso!
     else if msg=="emailexistente"
       p.w3-container.w3-red O email "#{email}" já se encontra registado!
     else if msg=="insucess"
       p.w3-container.w3-red Não foi possível efetuar o login!
     else 
       br
     a(href='/login') 
       button(class="w3-btn w3-blue" type="submit" style="margin:18px") Login
     |
     |
     a(href='/registo') 
       button(class="w3-btn w3-blue" type="submit" style="margin:18px") Registar
