extends layout

block content
  p(style="text-align: right; font-size:18px; margin-right: 3%")
    a(href='/perfil')
      button(class="w3-btn" style="border: 1px solid black; background-color: white; color: black; text-align: right" type="input") Perfil
        i(class="w3-xlarge material-icons" style="margin-left:10px; vertical-align:-25%") menu
 
  p(style="margin-left: 2%; font-size:22px; font-weight: bold") Noticias 
 
  table(class="w3-table-all")
        each r in noticias
            tr
              if (r.tipo=="post")
                td= "Foi adicionado um novo post por " + r.autor + "!"
                td= r.data
                td
                  a(href='/post/' + r._id) Ver Mais
              else 
                td= "Foi adicionado um novo recurso por " + r.produtor + "!"
                td= r.dataCriacao
                td
                  a(href='/recursos/' + r._id) Ver Mais
 
  a(href=`/posts`) 
    button(class="w3-btn w3-blue" type="submit" style="padding: 15px 32px;  margin-left: 30px") Ver Posts
  |
  |
  a(href=`/recursos`) 
    button(class="w3-btn w3-blue" type="submit" style="margin:20px; padding: 15px 32px") Ver Recursos            