extends layout 

block content
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    .w3-card-4
     header.w3-container.w3-blue
      h3.w3-left Registo 
    .w3-container
     br
     form(class="w3-container" action='/registo', method='POST')
      label(class="w3-text-black")
       b Nome:
      input(class="w3-input w3-border w3-light-grey", type="text", name="nome", required)    

      label(class="w3-text-black")
       b Email:
      input(class="w3-input w3-border w3-light-grey", type="text", name="email", required, placeholder="exemplo@gmail.com" ,pattern="[a-zA-Z0-9\-\.]+[@](alunos.)?[a-zA-Z]+[.][a-zA-Z]+")    

      label(class="w3-text-black") 
       b Password:
      input(class="w3-input w3-border w3-light-grey", type="text", name="password", required) 
     
      label(class="w3-text-black") 
       b Filiação:
      input(class="w3-input w3-border w3-light-grey", type="text", name="filiacao") 
      button(class="w3-btn w3-blue" type="submit" style="margin-top:20px") Registar  
    a(href='/login')
      button(class="w3-blue w3-xxlarge w3-margin-left material-icons" type="submit" style="position: fixed; right: 20px; bottom: 20px") home