extends layout 

block content

  div(style="font-size: 14px; width: 50rem; margin: auto")

    .w3-card-4
     header.w3-container.w3-blue
      h1.w3-left Registo 

    .w3-container
     br
     form(class="w3-container" action='/registo', method='POST')
      label(class="w3-text-black")
       b Nome:
      input(class="w3-input w3-border w3-light-grey", type="text", name="nome", required)    

      label(class="w3-text-black")
       b Email:
      input(class="w3-input w3-border w3-light-grey", type="text", name="email", required, placeholder="exemplo@gmail.com" ,pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*")    

      label(class="w3-text-black") 
       b Password:
      input(class="w3-input w3-border w3-light-grey", type="password", name="password", title="Password deverá conter 6-12 caracteres, contendo uma letra maiúscula, uma minúscula e um número.", pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{6,12}", required) 
     
      label(class="w3-text-black") 
       b Confirmar Password:
      input(class="w3-input w3-border w3-light-grey", type="password", name="password2",title="Password deverá conter 6-12 caracteres, contendo uma letra maiúscula, uma minúscula e um número.", pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{6,12}", required) 
            
      label(class="w3-text-black") 
       b Filiação:
      input(class="w3-input w3-border w3-light-grey", type="text", name="filiacao") 
      button(class="w3-btn w3-blue" type="submit" style="margin-top:20px") Registar  
